.create-user-block {
  flex: 1;
  padding: 80px 160px 0;

  .create-user__title {
    font-size: 20px;
    color: #cf2338;
    font-weight: bold;
    margin: 4px 0 24px;
  }

  .create-user__form {
    min-width: 350px;
    width: 400px;

    .create-user-input__first-name {
      border: 0.1rem solid rgb(168, 163, 163);
    }

    .create-user-input__last-name {
      border: 0.1rem solid rgb(168, 163, 163);
    }


    .ant-picker {
      width: 100%;
      border-radius: 6px;
      border: 0.1rem solid rgb(168, 163, 163);
    }

    Input {
      border-radius: 6px;
    }

    .ant-form-item-explain {
      padding: 8px 0;
      color: #cf2338 !important;
    }

    .ant-select-selector {
      border-radius: 6px;
      border: 0.1rem solid rgb(168, 163, 163);
    }

    .ant-radio-checked {
      .ant-radio-inner {
        border-color: #cf2338 !important;

        &:after {
          background-color: #cf2338;
        }

        &:focus {
          border-color: #cf2338;
        }
      }
    }

    .ant-radio {
      &:hover {
        .ant-radio-inner {
          border-color: #cf2338;
        }
      }
    }

    .create-user__form-action {
      display: flex;
      justify-content: end;

      button {
        border-radius: 0.3rem;

        &+button {
          margin-left: 40px;
          background-color: white;
          border: 1px solid rgb(183, 183, 183);
          color: rgb(157, 157, 157);

          &:hover {
            background-color: #e9e9e9;
          }

        }

        background-color: #cf2338;
        color: white;
        border-color: #cf2338;

        &[disabled] {
          background-color: rgb(199, 199, 199);
          color: rgb(81, 81, 81);
          border-color: rgb(199, 199, 199);

          &:hover {
            background-color: rgb(199, 199, 199);
            color: rgb(81, 81, 81);
            border-color: rgb(199, 199, 199);
          }
        }

        &:hover {
          background-color: #e94949;
        }
      }

      .ant-form-item-row {
        justify-content: end;
      }
    }
  }
}