.form-login-wrapper {
  width: 500px;
  margin: 70px auto 0px;
  border: 2px solid #b2a285;
  border-radius: 10px;

  .form-login {
    padding: 50px 2rem 16px;
  }

  .ant-col-8 {
    flex: none;
  }

  .form-login-title {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: auto;
    color: #cf2338;
    background-color: #f5f5e8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ant-form-item-explain-error {
    padding: 8px 0 12px;
  }

  .ant-form-item-control-input-content {
    display: inline-block !important;
    text-align: right !important;
  }
  button {
    & + button {
      margin-left: 40px;
      background-color: white;
      border: 1px solid rgb(183, 183, 183);
      color: rgb(157, 157, 157);
    }
    background-color: #cf2338;
    color: white;
    border-color: #cf2338;
    &[disabled] {
      background-color: rgb(199, 199, 199);
      color: rgb(81, 81, 81);
      border-color: rgb(199, 199, 199);
    }
  }
  
  .ant-btn:hover {
    border-color: #cf2338;
    background-color: #db3d4f;
    color: rgb(255, 255, 255);
  }

  .ant-btn {
    [disabled] {
      background-color: rgb(199, 199, 199);
      color: rgb(81, 81, 81);
      border-color: rgb(199, 199, 199);
    }
  }
  


}
.form-login {
  
  .ant-btn[disabled],
  .ant-btn[disabled]:active,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(81, 81, 81);
    border-color: rgb(199, 199, 199);
  }
}



