.form-login-wrapper {
  width: 500px;
  margin: 70px auto 0px;
  border: 2px solid #b2a285;
  border-radius: 10px;

  .form-login {
    padding: 50px 2rem 16px;
  }

  .ant-col-8 {
    flex: none;
  }

  .form-login-title {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: auto;
    color: #cf2338;
    background-color: #f5f5e8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ant-form-item-explain-error {
    padding: 8px 0 12px;
  }

  .ant-form-item-control-input-content {
    display: inline-block !important;
    text-align: right !important;
  }
}
