.modal-change-password-wapper {
  border: 2px solid #b2a285 !important;
  border-radius: 10px !important;
  padding-bottom: 0px;

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    border-radius: 10px !important;
  }

  .modal-title {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    padding-left: 40px !important;
    margin-bottom: auto;
    color: #cf2338;
    background-color: #f5f5e8;
    width: auto;
    border-radius: 10px !important;
  }

  .ant-col .ant-form-item-control {
    border-radius: 0 !important;
  }

  .modal-content {
    padding: 20px 60px 40px 40px !important;
  }

  .ant-btn {
    margin-left: 85%;
  }
}