.navbar-header {
  background-color: #cf2338;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-bar-height);

  .login {
    margin-left: 70px;
  }

  .ant-dropdown .ant-dropdown-placement-bottomLeft {
    width: 136px !important;
  }

  

  .navbar-header__left {
    display: flex;
    align-items: end;
    height: inherit;

    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      height: inherit;
      line-height: var(--nav-bar-height);
    }

    .titleLogin {
      padding-left: 30px;
    }

    span {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin: 0 8px;
      display: block;
      height: inherit;
      line-height: calc(var(--nav-bar-height) + 8px);
    }
  }

  .navbar-header__right {
    .ant-dropdown-trigger {
      color: #fff;
      font-size: 18px;
    }
  }

  .logo {
    display: block;
    margin: 0;
    width: 70px;
    height: 70px;
  }
  
}

.username-dropdown {
  ul {
    li {
      padding: 0;

      .change-password-btn,
      .logout-btn {
        display: block;
        width: 100%;
        padding: 5px 12px;
      }
    }
  }
}

.change-password-form {
  .ant-form-item-explain {
    color: #cf2338 !important;
  }

  label {
    top: 0.5rem;
    color: rgb(28, 27, 27);
  }
}

.btnChangePassword {
  display: flex;
  justify-content: flex-end;
}

.change-password-button {
  background-color: #cf2338;
  border-color: #cf2338;
  color: #fff;
  border-radius: 0.3rem;

  &:hover {
    background-color: #d24a5a;
    border: 1px solid #d24a5a;
    color: white;
  }

  &.ant-btn-primary:focus{
    background-color: #cf2338 !important;
    color: white ;
    border-color: #cf2338 !important;  
  }
}

.cancel-change-password-button {
  border-radius: 0.3rem;
  background-color: white;
  border: 0.11rem solid rgb(183, 183, 183);
  color: rgb(148, 147, 147);

  &:hover {
    background-color: white;
    border: 0.11rem solid rgb(148, 148, 148);
    color: rgb(148, 147, 147);
  }
}

.change-password--input {
  border-radius: 0.3rem;
  border: 0.11rem solid rgb(148, 148, 148);
}