.navbar-header {
  background-color: #cf2338;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-bar-height);

  .login{
    margin-left: 70px;
  }

  .navbar-header__left {
    display: flex;
    align-items: end;
    height: inherit;

    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      height: inherit;
      line-height: var(--nav-bar-height);
    }

    .titleLogin {
      padding-left: 30px;
    }

    span {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin: 0 8px;
      display: block;
      height: inherit;
      line-height: calc(var(--nav-bar-height) + 8px);
    }
  }

  .navbar-header__right {
    .ant-dropdown-trigger {
      color: #fff;
      font-size: 18px;
    }
  }

  .logo{
    display: block;
    margin: 0;
    width: 70px;
    height: 70px;
  }
}
