.list-user-wrapper {
  .ant-row .ant-btn:focus {
    color: rgb(134, 123, 123);
    border-color: rgb(134, 123, 123);
  }

  .border-right {
    border-right: 0.1rem solid rgb(168, 163, 163);
    top: -5px;
    height: 2.15rem;
    right: -1px;
  }
}

.ant-table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//button
.handle-button {
  height: 36px;
  color: aliceblue;
  border-radius: 5px;
  background-color: #e5273d;

  &:hover {
    color: #fff;
    background-color: #a8081a;
    border-color: #a8081a;
  }
}

//search
.handle-search {
  width: 15rem;

  @media (max-width: 1390px) {
    width: 12rem;
  }
  .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    height: 36px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(134, 123, 123);
  }

  .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    height: 36px;
    border: 1px solid rgb(134, 123, 123);
    color: rgba(5, 3, 3, 0.45);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

//filter
.handle-filter {
  font-size: 15px;
  height: 36px;
  color: #292b2c;
  text-align: left;
  width: 15rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(168, 163, 163);

  @media (max-width: 1390px) {
    width: 12rem;
  }

  &:hover {
    color: rgb(168, 163, 163);
    border-color: #292b2c;
  }

  svg {
    padding-left: 0.5rem;
    height: 25px;
    width: 22px;
  }
}

.list-user-dropdown-box-type {
  .ant-popover-content {
    top: -19px;
    position: relative;
    border: 1px solid rgb(134, 123, 123);
    width: 15rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .ant-popover.ant-popover-placement-bottom {
    padding-top: 0;
  }

  .ant-popover-inner-content {
    background-color: #f5f5f5;
    .ant-checkbox-group-item {
      font-size: 15px;
    }
  }

  .ant-popover-arrow {
    visibility: hidden;
  }

  // checkbox
  .checkbox-filter {
    font-size: 15px;
    // before check
    .ant-checkbox .ant-checkbox-inner {
      border-radius: 4px;
      border-color: rgb(134, 123, 123);
    }

    // after check
    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: white;
        border: 1px solid;
        border-radius: 4px;
      }

      .ant-checkbox-inner:after {
        border-color: red !important;
      }
    }
  }
}

.list-user-pagination {
  padding-bottom: 64px;

  // paging
  .ant-pagination-item a {
    display: block;
    padding: 0 6px;
    color: #e5273d;
    transition: none;
  }

  .ant-pagination-prev {
    color: #e5273d;
  }
}

.user-list p {
  text-overflow: ellipsis;
  display: block;
  width: 16em;
  overflow: hidden;
  white-space: nowrap;
}

.user-list > :disabled {
  filter: opacity(30%);
}
.user-list button:disabled {
  filter: opacity(30%);
}

.user-list__disable-modal {
  .ant-modal-content {
    border-radius: 10px;
    border-color: black;
    color: #000000;
    width: 28rem;
    min-width: 26rem;
    // height: 345px;
    line-height: 50px;
    border: 0.1rem solid rgb(99, 95, 95);
    left: 10rem;
  }

  .ant-modal-title {
    color: #cf2338;
    font-size: 17px;
    font-weight: bold;
  }

  .ant-modal-header {
    padding-left: 45px;
    padding-bottom: 15px;
    background-color: #ecedf3;
    border-bottom: 0.1rem solid rgb(121, 110, 110);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ant-modal-body {
    padding-left: 45px;
    line-height: 1.2;
    padding-bottom: 0px;
  }

  .ant-modal-footer {
    border-top: none;
    text-align: left;
    padding-left: 38px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 8px;

    button {
      border-radius: 5px;
    }

    .ant-btn.ant-btn-default {
      border: 1px solid rgb(121, 110, 110);
      background-color: #fff;
      color: rgb(121, 110, 110);
      &:hover {
        background-color: #e9e9e9;
      }
    }

    .ant-btn.ant-btn-primary {
      border: 1px solid #cf2338;
      background-color: #cf2338;
      color: #fff;
      &:hover {
        background-color: #a51021;
        border-color: #a51021;
      }
    }
  }

  .edit-icon svg {
    fill: #585c5f;
    width: 20px;
    height: 20px;
  }
}

.user-list__valid-modal {
  .ant-modal-content {
    border-radius: 10px;
    border-color: black;
    color: #000000;
    width: 26rem;
    min-width: 2rem;
    // height: 345px;
    line-height: 50px;
    border: 0.1rem solid rgb(99, 95, 95);
    left: 10rem;
  }

  .ant-modal-title {
    color: #cf2338;
    font-size: 17px;
    font-weight: bold;
  }

  .ant-modal-header {
    padding-left: 45px;
    padding-bottom: 15px;
    background-color: #ecedf3;
    border-bottom: 0.1rem solid rgb(121, 110, 110);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ant-modal-body {
    padding-left: 45px;
    line-height: 1.2;
  }

  .ant-modal-footer {
    border-top: none;
    padding-left: 45px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 8px;

    button {
      border-radius: 5px;
    }

    .ant-btn.ant-btn-default {
      border: 1px solid rgb(121, 110, 110);
      background-color: #fff;
      color: rgb(121, 110, 110);
    }
    .ant-btn.ant-btn-primary {
      background-color: #e5273d;
      color: #fff;
    }
  }

  .ant-modal-close {
    fill: #d62136;
    margin-right: 30px;

    justify-content: center;
    svg {
      height: 54px;
      width: 25px;
      stroke: #d62136;
    }
  }

  .edit-icon svg {
    padding-top: 3px;
    fill: #585c5f;
    width: 20px;
    height: 20px;
  }
}

.user-list__disable-modal {
  .ant-modal-content {
    border-radius: 10px;
    border-color: black;
    color: #000000;
    width: 28rem;
    min-width: 2rem;
    // height: 345px;
    line-height: 50px;
    border: 0.1rem solid rgb(99, 95, 95);
    left: 10rem;
  }

  .ant-modal-title {
    color: #cf2338;
    font-size: 17px;
    font-weight: bold;
  }

  .ant-modal-header {
    padding-left: 45px;
    padding-bottom: 15px;
    background-color: #ecedf3;
    border-bottom: 0.1rem solid rgb(121, 110, 110);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ant-modal-body {
    padding-left: 45px;
    line-height: 1.2;
    padding-bottom: 10px;
  }

  .ant-modal-footer {
    border-top: none;
    padding-left: 45px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 8px;

    button {
      border-radius: 5px;
    }

    .ant-btn.ant-btn-default {
      border: 1px solid rgb(121, 110, 110);
      background-color: #fff;
      color: rgb(121, 110, 110);
    }
    .ant-btn.ant-btn-primary {
      background-color: #cf2338;
      color: #fff;
    }
  }

  .ant-modal-close {
    fill: #d62136;
    margin-right: 30px;

    justify-content: center;
    svg {
      height: 54px;
      width: 25px;
      stroke: #d62136;
    }
  }

  .edit-icon svg {
    padding-top: 3px;
    fill: #585c5f;
    width: 20px;
    height: 20px;
  }
}
