.main-layout {
  height: 100vh;
  background-color: #fff !important;

  .sub-layout {
    background-color: #fff;
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;

    .content {
      flex: 1;
      height: calc(100vh - var(--nav-bar-height));
    }
  }
}
