.modal-change-password-wapper {
  border: 2px solid #b2a285 !important;
  border-radius: 10px !important;
  padding-bottom: 0px;

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    border-radius: 10px !important;
  }

  .modal-title {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    padding-left: 40px !important;
    margin-bottom: auto;
    color: #cf2338;
    background-color: #f5f5e8;
    width: auto;
    border-radius: 10px !important;
  }

  .ant-col .ant-form-item-control {
    border-radius: 0 !important;
  }

  .modal-content {
    padding: 20px 60px 40px 40px !important;
  }

  .ant-btn {
    margin-left: 85%;
  }

  .ant-btn-primary:focus, .ant-btn-primary:hover{
    background-color: #cf2338 !important;
    color: white ;
    border-color: #cf2338 !important;  
    }
  button {
    
    & + button {
      margin-left: 40px;
      background-color: white;
      border: 1px solid rgb(183, 183, 183);
      color: rgb(157, 157, 157);
    }
    background-color: #cf2338;
    color: white;
    border-color: #cf2338;
    &[disabled] {
      background-color: rgb(199, 199, 199);
      color: rgb(81, 81, 81);
      border-color: rgb(199, 199, 199);
    }
  }
}